/* Add here all your CSS customizations */


.socialtop
 { 

 	padding-top: 50px; 



}

.week
{
	font-size: 15px;
	
	color: white;


}

.test
{
	color: white;
}

.pp
{

	text-align: center;
	

}


.justify
{
	text-align: justify;
}

.button_price
{
	width: 300px;
}